# ==========================================================
# NPM
# ==========================================================
node_modules

# ==========================================================
# Visual Studio Code Intellisense
# ==========================================================
typings